.main {
    width: 750px;
    height: 1505px;
    background-color: transparent;
    border: none;
}

.cols {
    width: 230px;
    height: 1505px;
    float: left;
    border: solid;
    border-color: grey;
    border-width: 1px;
    border-bottom:none;
}

.players {
    width: 230px;
    height: 1505px;
    border: none;
    border-bottom: dotted;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

div.snap-target {
    /*border-radius: 50%;*/
    width: 230px;
    height: 250px;
    background-color: white;
    float: left;
    border-bottom:dotted;
    border-bottom-color:gray;
    border-bottom-width: 1px;
}

.changeBackground {
    background-color: firebrick;
    color: white;
    /*border:none;*/
}

div.draggable {
    width: 230px;
    height: 40px;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    float: left;
    line-height: 40px;
    border: none;
}




